---
version: 3

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-25/ee-minimal-rhel9:latest

dependencies:
  galaxy:
    collections:
      - name: community.docker

  python:
    # On garde uniquement le SDK docker moderne
    - docker>=6.0.0
    - requests
    # SUPPRIMÉ : - docker-compose (C'est lui le coupable)

  system:
    - git
    - python3-pip
    - python3-devel
    - gcc
    # Si tu as besoin de fonctionnalités Docker Compose, il vaut mieux installer le plugin CLI
    # Note : Cela dépend si le paquet est dispo dans les repos de ton image de base.
    # Sinon, le module community.docker standard (docker_container) suffit pour 99% des cas.

options:
  package_manager_path: /usr/bin/microdnf
