---
- name: Create Azure VM in existing VNet (NO PUBLIC IP)
  hosts: localhost
  connection: local
  gather_facts: no

  collections:
    - azure.azcollection

  vars:
    resource_group: "myResourceGroup"
    location: "francecentral"
    vnet_name: "VNET-Demo"
    subnet_name: "Subnet-Front"

    vm_name: "DemoVM01"
    vm_size: "Standard_B2ats_v2"
    admin_user: "azureuser"
    admin_password: "ChangeM3Now!"
    nic_name: "nic-{{ vm_name }}"
    nsg_name: "nsg-{{ vm_name }}"

  tasks:

    - name: Create Network Security Group
      azure_rm_securitygroup:
        resource_group: "{{ resource_group }}"
        name: "{{ nsg_name }}"
        location: "{{ location }}"
        rules:
          - name: SSH
            protocol: Tcp
            destination_port_range: 22
            access: Allow
            priority: 1001
            direction: Inbound

    - name: Create NIC WITHOUT public IP
      azure_rm_networkinterface:
        resource_group: "{{ resource_group }}"
        name: "{{ nic_name }}"
        location: "{{ location }}"
        subnet_name: "{{ subnet_name }}"
        ip_configurations:
          - name: ipconfig1
              primary: true
        security_group: "{{ nsg_name }}"
      register: nic

    - name: Create the VM
      azure_rm_virtualmachine:
        resource_group: "{{ resource_group }}"
        name: "{{ vm_name }}"
        location: "{{ location }}"
        vm_size: "{{ vm_size }}"

        admin_username: "{{ admin_user }}"
        admin_password: "{{ admin_password }}"

        network_interfaces:
          - "{{ nic.id }}"

        image:
          offer: 'ubuntu-24_04-lts'
          publisher: Canonical
          sku: server
          version: latest
